/* import webfonts */
@import url('https://fonts.cdnfonts.com/css/tex-gyre-adventor');
@import url('https://fonts.cdnfonts.com/css/raleway-5');

.imgleft {
	float: left;
	margin-right: 24px;
}

.fa-brands, .fa-solid {
	width: 22px;
	text-align: center;
}

.topbar {
	height:50px;
	background-color: #813405;
	width: 100vw;
	margin: 0px;
	padding: 0px;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: -1;
}

.bottombar {
	height:42px;
	background-color: #C95C03;
	width: 100vw;
	margin: 0px;
	padding: 0px;
	position: fixed;
	bottom: 0px;
	left: 0px;
	z-index: -1;
}


/* Essentials */

html {
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    background-color: #2E2E2E;
	color: #FFFFEB;
	font-family: 'Raleway', sans-serif;
}
@media only screen and (max-width: 800px) {
    html{
        background-color: #2E2E2E;
		width: 90%;
		margin: auto;
		font-size: 0.8em;
    }
}

body {
    padding: none;
	margin: none;
    position: relative;
}

ul {
    list-style: none;
    padding-left: 0px;
}

li {
    margin-bottom: 5px;
	background: none;
	border: 2px solid #FFFFEB;
	border-radius: 10px;
	padding: 5px;
	transition: 0.4s ease-in-out;
}

li:hover {
	transition: cubic-bezier(.07, 1.41, .82, 1.41) 0.2s;
    transform: scale(1.02);
}

h1, h3 {
	font-family: 'TeXGyreAdventor', sans-serif;
	font-weight: 700;
	margin-bottom: 0px;
}

a {
	color: #FC9E4F;
    text-decoration: none;
	font-size: 1em;
	font-weight: 700;
	font-family: 'TeXGyreAdventor', sans-serif;
}

.root{
    width: 50%;
	min-width: 750px;
    margin: auto;
	background: none;
	border: 2px solid #FFFFEB;
	border-radius: 10px;
}
@media only screen and (max-width: 800px) {
    .root{
        width: 100%;
		min-width: 200px;
    }
}

.vcenter {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

body{
    height: 98vh;
}


/* Additional rows */

.grid {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 !important;
    width: 100% !important;
}
@media only screen and  (min-width: 800px) {
    .grid {
        grid-template-columns: repeat(auto-fit, minmax(0%, 1fr));
    }
}
.box {
    background: none;
    border-radius: 10px;
    margin-top: 15px;
	min-width: 300px;
	padding: 0px 30px;
}

.grid > * {
    min-width: 0;
}

.right {
    float: right;
    margin-top: 10px;
    margin-left: 20px;
}