body {
    margin: 0;
    padding: 0;
    background-color: #DDDDDD;
    color: #000;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
	min-height: 100vh;
    font-family: Verdana, Tahoma, sans-serif;
    user-select: none;
}

.container {
    width: 91%;
    max-width: 680px;
    margin: 40px;
	padding: 20px;
	border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
	background-color: #FFFFFF;
}

/* Image Style */

.image-container {
    height: 128px;
    width: 128px;
    border-radius: 100%;
    overflow: hidden;
}

/* Link Style */

.tile {
    width: 100%;
    background-color: #FFF;
    margin-bottom: 10px;
	border: 2px solid #813405;
    border-radius: 17px;
    display: flex;
    justify-content: space-between;
    transition: 0.4s ease-in-out;
	box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);

}

.tile:hover {
    transition: cubic-bezier(.07, 1.41, .82, 1.41) 0.2s;
    transform: scale(1.02);
}

.tile-share-button {
    margin: 8px;
    width: 40px;
}

.share-button {
    width: 40px;
}

.icon {
    margin: 4px 8px;
    width: 44px;
	font-size: 2.1em;
}

/* Others */

h1 {
    text-align: center;
	margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #000;
}

.space {
	height:42px;
	background-color: #FFB981;
	width: 100%;
}

.bottom {
	height: 42px;
	width: 100%;
	margin-top: auto;
	background-color: #813405;
	text-align: center;
}

.bio {
    padding-bottom: 20px;
}

.note {
	text-align:center;
	font-size: 0.8em;
	margin-top: -15px;
	margin-bottom: 10px;
}